* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  font-family: Arial, sans-serif;
}

/* Estilos para el navbar */
.navbar {
  display: grid;
  align-items: center;
  padding: 10px;
  height: 60px;
  font-size: 1rem;
  background: linear-gradient(90deg, rgb(13, 5, 106) 0%, rgb(13, 7, 185) 15%, rgb(14, 54, 210) 50%, rgb(7, 10, 185) 85%, rgb(8, 5, 106) 100%);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 100px;
  height: auto;
}


.nav-links ul {
  list-style: none;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;
  grid-auto-flow: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.nav-links ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.nav-links ul li a:hover {
  color: #f0a500;
}

.ignorar {
  display: flex;
  /* Habilita flexbox */
  justify-content: center;
  /* Centra horizontalmente la imagen */
  align-items: center;
  /* Centra verticalmente la imagen */
  padding: 0;
  /* Elimina cualquier padding adicional */
}

.ignorar img {
  max-width: 20%;
  height: auto;
}

/* Estilos para el icono de menú en pantallas pequeñas */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    justify-content: right;
  }

  .nav-links {
    display: none;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
  }

  .nav-links ul {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
  }

  .menu-icon {
    display: block;
  }

  .navbar.active .nav-links {
    display: block;
  }
}

#content {
  height: 94vh;
}

/* FOOTER */
.footer {
  background: linear-gradient(90deg, rgb(13, 5, 106) 0%, rgb(13, 7, 185) 15%, rgb(14, 54, 210) 50%, rgb(7, 10, 185) 85%, rgb(8, 5, 106) 100%);
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 10px 0;
  font-size: 1rem;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.footer-links a:hover {
  color: #f0a500;
}

.footer-logos {
  display: grid;

  grid-auto-flow: column;
  justify-content: center;
  align-items: center;

  gap: 3rem;
}

.footer-logos img {
  width: 6rem;
}



/********************************* PAGES STYLES *************************************/

/***********    INICIO    **********/
@media (max-width: 768px) {
  #inicio section {
    min-height: 100vh;
    /* Asegura que la imagen de fondo cubra toda la pantalla */
    background-size: contain;
    /* Evita cortes */
  }
}


/* #inicio {

} */
#inicio {
  height: 100%;
}

#inicio section {
  background-image: url('./assets/images/estadisticas-not.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  /* Ajusta la altura */
}

#inicio #presentacion {
  display: grid;
  grid-template-columns: max-content max-content;
  place-items: center;
  /* Centra horizontal y verticalmente */
  justify-content: center;
  align-items: center;
  gap: 7rem;

  padding: 5% 10%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.867);
}

#inicio img {
  width: 300px;
  margin-right: 20px;
}

#inicio #presentacion h1 {
  font-size: 4rem;
  color: #ffffff;
  position: relative;
  /* Necesario para la posición de los elementos dentro */
}

#presentacion h1 .gg {
  color: #3cab37;
}

#inicio #presentacion h1 span {
  display: inline-block;
  /* Para que se trate como un bloque y se mueva independientemente */
}

#inicio #presentacion .chile {
  color: #d30f32;
  font-size: 1.5rem;
  position: absolute;
  /* Permite mover el texto respecto al h1 */
  left: 60%;
  /* Ajusta el valor para mover "Chile" sobre la "U" */
  top: 57px;
  /* Ajusta la distancia vertical desde la parte superior del h1 */
}

#inicio #presentacion .comp {
  color: #a2a0a0;
  position: absolute;
  left: 10%;
  /* Esto pone "Compañia de cobranzas" en una nueva línea debajo del h1 */
  /* Espacio entre el h1 y el texto */
  top: 120%;
  font-size: 1.2rem;
  /* Ajusta el tamaño del texto */
}

#inicio #presentacion button {
  border: none;
  border-radius: 8px;
  /* Bordes más suaves */
  background: radial-gradient(circle, #d30f32 0%, #a00c2a 50%, #70081f 100%);
  color: white;
  /* Asegurar que el texto sea visible */
  width: 11rem;
  height: 3.4rem;
  font-size: 1rem;
  /* Un poco más grande para mejor lectura */
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* Suaviza los cambios */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  /* Sombra sutil */
}

#inicio #presentacion button:hover {
  background: radial-gradient(circle, #ff355e 0%, #d30f32 50%, #a00c2a 100%);
  transform: scale(1.05);
  /* Pequeño efecto de crecimiento */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

#inicio #presentacion button:active {
  transform: scale(0.98);
  /* Da efecto de ser presionado */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

/* QUIENES SOMOS */

#quienes-somos {
  background-image: url("./assets/images/Santiago_nocturno_2013.jpg");
  background-size: cover;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;


  justify-content: center;
  align-items: center;

  padding: 5rem 0;
}
.carousel img{
  margin: auto auto;
  width: 38rem; /* O cualquier tamaño que desees */
  height: 30rem; /* Mantén el mismo valor para crear un cuadrado */
  object-fit: cover; /* Asegura que la imagen cubra todo el área del contenedor */
  overflow: hidden;
}
#quienes-somos .carousel-image{
  display: none;  
}

#quienes-somos .carousel-image.active{
  display: block;
}

#quienes-somos .ladoB {
  height: 100%;

  display: grid;
  place-items: center;
}

.ladoB .presentacion {
  display: grid;
  gap: 1rem;
  place-items: center;

  width: 90%;
}

.presentacion h1{
  color: white;
  font-size: 3rem;

}

.presentacion p{
  font-weight: 600;
  color: white;
  white-space: pre-line;
  height: 30rem;
  padding: 2rem;
  text-align: center;

  border-radius: 0.8rem;
  border: 1px solid white;
  background-color: #010926f0;
}