* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos para el navbar */
.navbar {
  display: grid;
  align-items: center;
  padding: 30px;
  font-size: 1.2rem;
  background-color: #333;
  color: white;
}

.logo {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.logo img {
  width: 100px;
  height: auto;
}

.nav-links {
  display: grid;
  justify-content: center;
}

.nav-links ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 50px;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links ul li a:hover {
  color: #f0a500;
}

/* Estilos para el icono de menú en pantallas pequeñas */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
      justify-content: right;
  }

  .nav-links {
      display: none;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      text-align: center;
  }

  .nav-links ul {
      display: grid;
      grid-auto-flow: row;
      gap: 15px;
  }

  .menu-icon {
      display: block;
  }

  .navbar.active .nav-links {
      display: block;
  }
}

/* FOOTER */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 10px 0;
  font-size: 1rem;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.footer-links a:hover {
  color: #f0a500;
}



/********************************* PAGES STYLES *************************************/

/***********    INICIO    **********/
#inicio {
  display: grid;
}

#inicio section {
  background-image: url('./assets/images/estadisticas-not.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 800px; /* Ajusta la altura */
}

#inicio #presentacion {
  background-color: rgba(0, 0, 0, 0.829);
  
  display: grid; /* Define que se va a usar grid */
  grid-template-columns: auto auto auto ; /* Crea tres columnas de tamaño automático */
  gap: 20px; /* Espacio entre los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 60px 100px;
}

#inicio img{
  width: 300px;
}

#inicio #presentacion h1 {
  font-size: 4rem;
  color: #2b2e83;
  position: relative; /* Necesario para la posición de los elementos dentro */
}

#inicio #presentacion  h1 span {
  display: inline-block; /* Para que se trate como un bloque y se mueva independientemente */
}

#inicio #presentacion .chile {
  color: #d30f32;
  font-size: 1.5rem;
  position: absolute; /* Permite mover el texto respecto al h1 */
  left: 50%; /* Ajusta el valor para mover "Chile" sobre la "U" */
  top: 57px; /* Ajusta la distancia vertical desde la parte superior del h1 */
}

#inicio #presentacion  .comp {
  color: #a2a0a0;
  position: absolute;
  left: 10%; /* Esto pone "Compañia de cobranzas" en una nueva línea debajo del h1 */ /* Espacio entre el h1 y el texto */
  top: 120%;
  font-size: 1.2rem; /* Ajusta el tamaño del texto */
}