* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos para el navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: 30px;
  font-size: 1.2rem;
  background-color: #333;
  color: white;
}

.logo {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.logo img {
  width: 100px;
  height: auto;
}

.nav-links {
  display: grid;
  justify-content: center;
}

.nav-links ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 50px;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links ul li a:hover {
  color: #f0a500;
}

/* Estilos para el icono de menú en pantallas pequeñas */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
      grid-template-columns: 1fr auto;
  }

  .nav-links {
      display: none;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      text-align: center;
  }

  .nav-links ul {
      display: grid;
      grid-auto-flow: row;
      gap: 15px;
  }

  .menu-icon {
      display: block;
  }

  .navbar.active .nav-links {
      display: block;
  }
}
